.login-container {
	position: absolute;
	background-color: #f0f0f0;
	z-index: 99;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	gap: 1rem;
	span,
	button {
		display: block;
	}
	.login-header {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 3rem;
		left: 0;
		span {
			font-size: 2.5rem;
			font-weight: 400;
		}
	}
	.input-box {
		width: 300px;
		height: 2rem;
		margin: 2rem 0;
		input {
			line-height: 1.5rem;
			padding: 0.75rem;
			width: 100%;
			font-size: 1.15rem;
			border-radius: 12px;
			border: none;
		}
	}

	.login-btn {
		padding: 0.75rem;
		width: 100%;
		font-size: 1.5rem;
		cursor: pointer;
		background-color: #b7b7b7;
		outline: none;
		border: none;
		color: white;
		border-radius: 12px;
		&:hover {
			transform: scale(1.05);
			border-color: rgba(130, 130, 130, 0.9);
			transition: all 0.3s ease;
		}
	}
	.login-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 1.25rem;
		background-color: #666667;
		border: 1px solid #b1acac;
		// margin-left: 0;
		// overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0;
		// margin-left: 100px;
		span {
			width: 300px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 0.85rem;
			color: #fcfafa;
			a {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
}
