.card-container {
	height: 360px;
	width: 300px;
	border: 1px solid #797c80;
	border-radius: 15px;
	cursor: pointer;
	figcaption {
		border: 1px solid red;
		max-width: 250px;
		max-height: 250px;
		margin: 1rem auto;
	}
}
