header {
	display: flex;
	height: 6rem;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2.5rem;

	.logo {
		max-width: 125px;
		max-height: 125px;
		cursor: pointer;
	}
	background-color: #797c80;
	nav ul li,
	a,
	button {
		color: #242526;
		font-size: 20px;
	}
	.header-btn {
		a {
			margin: 1rem;
			button {
				border-radius: 15px;
				padding: 0.5rem;
				border: none;
				cursor: pointer;
			}
		}
	}
}
