header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	padding: 2rem;
	background-color: #e6e6e6;
	color: #3c3c3c;
	font-size: 1.25rem;
	main {
		display: flex;
		align-items: center;
		a {
			margin-right: 25px;
			margin-left: 25px;
			cursor: pointer;
			text-decoration: none;
		}
		span {
			margin-right: 25px;
			margin-left: 25px;
			cursor: pointer;
			text-decoration: none;
		}
		button {
			font-size: 12px;
			font-weight: 500;
			margin-left: 2rem;
			padding: 0.75rem 1rem;
			border: none;
			transition: all 0.3s ease;
			border-radius: 8px;
			&:hover {
				cursor: pointer;
				transform: scale(1.05);
				border-color: rgba(96, 96, 96, 0.9);
			}
		}
	}
}
.login-modal-wrapper,
.register-modal-wrapper {
	margin-top: 0;
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 2;
	background-color: #27262656;
}
.login-modal,
.register-modal {
	position: fixed;
	height: 500px;
	width: 450px;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	margin-left: -225px;
	margin-top: -250px;
	z-index: 9;
	padding: 3rem;
	overflow: hidden;
	border-radius: 25px;
}
