.sidebar-container {
	background-color: red;
	height: 800px;
	width: 100%;
	padding: 0.5rem 0;
	.sidebar-content {
		display: flex;
		gap: 2rem;
		// flex-flow: column wrap;
		flex-flow: column wrap;
		// justify-content: space-between;

		padding: 0 2rem;
		margin: 0;
		height: 80%;
		a:first-child {
			flex-basis: 20%;
			align-self: center;
			padding-top: 1rem;
		}
	}
}
