@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.abc {
	background-color: aquamarine;
	padding-top: 1rem;
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a,
a:visited,
a:hover,
a:active {
	color: inherit;
}
