.card-container {
	width: 250px;
	height: 350px;
	border: 1px solid gray;
	flex-basis: 24%;
	.card-content {
		padding: 2rem;
	}
	span {
		display: block;
	}
	.card-button {
		display: flex;
		justify-content: center;
		button {
			padding: 2px;
			margin: 1rem;
		}
	}
	::after {
		// content: '';
		flex: auto;
	}
}
